<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="password" value="GSyCqiEOahKNvMT1ass2hg=="/>
    <add key="address" value="10.0.57.10"/>
    <add key="aluminiumprop" value="20"/>
    <add key="secondscorrect" value="-10"/>
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SPBSUMixerRaportsDev.DB"/>
  </connectionStrings>
</configuration>