<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="password" value="GSyCqiEOahKNvMT1ass2hg=="/>
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SPBSUMixerRaportsDev.DB"/>
  </connectionStrings>
</configuration>