<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="password" value="GSyCqiEOahKNvMT1ass2hg=="/>
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SPBSUMixerRaportsDev.DB"/>
    <!--<add name="DefaultConnection" connectionString="Data Source=192.168.0.250,1433\SQLEXPRESS01;Initial Catalog=SPBSUMixerRaportsDev.DB;User ID=writer;Password={{password}}"/>-->
    <!--<add name="DefaultConnection" connectionString="Data Source=10.0.57.210,1433\SQLEXPRESS01;Initial Catalog=SPBSUMixerRaportsDev.DB;User ID=writer;Password={{password}}"/>-->
  </connectionStrings>
</configuration>